.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  
}

.content .main {
  display: grid;
  grid-template-areas: "rooms roomUsed"
                       "chat roomUsed";
  margin: 10% 18%;
  width: 70%;
  height:auto;
  background-color: aliceblue;
}